<!DOCTYPE HTML>
<html>

<head>
  <title>
    <%= pageTitle %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
</head>

<body cds-text="body">
  <div class="main-container">
    <header class="header-6">
      <div class="branding">
        <span class="title">
          <%= pageTitle %>
        </span>
      </div>
    </header>
    <div class="content-container">
      <div class="content-area">
        <a role="button" class="btn btn-success" href="/">Home</a>
        <h4>Showing the most recent Seed image.
        </h4>
        <div class="clr-row">
            <div class="clr-col-lg-6 clr-col-12">
              <div class="card">
                <div class="card-img">
                  <img loading="lazy" src="<%= seed.thumbnailDir %>/latest_<%= seed.thumbnailName %>" />
                </div>
                  <div class="card-block">
                    <div class="card-text">
                      <ul class="list">
                        <li>Name: <%= seed.name %>
                        </li>
                        <li>Created Date: <%= seed.created %>
                        </li>
                        <li>Size: <%= seed.size %>
                        </li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>